<style>
    .body{
        margin: 0px;
    }
    .carousel{
        width: 100%;
        padding: 30px;
        position: relative;
    }
    .carousel__container{
        white-space: nowrap;
        margin:70px 0px;
        padding-bottom: 10px;
    }
    .carousel__container--item{
        width: 200px;
        height: 250px;
        background: black;
        border-radius: 20px;
        display: inline-block;
        margin-right:5px;
        transition:500ms all;
        transform-origin:left;
    }
    .carousel__container--item:hover ~ .carousel__container--item{
        transform: translateX(100px);
    }
    .carousel__container:hover .carousel__container--item{
        opacity: 0.4;
    }
    .carousel__container:hover .carousel__container--item:hover{
        transform: scale(1.5);
        opacity: 1;
    }
</style>